<h1> Loop

- for loop
- while loop
- print the number for a range
- print number sequentially
- get odd/even number
- manupulating range
- print the range in revers pattern
- print number for a list
- calculate sum of even number for a range
- calculate sum of number for a range

In [1]:
number = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]   # list, all are unique number

In [2]:
for n in number:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [3]:
for n in number:
    print(n, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,

In [4]:
for n in number:
    print (n, end='-')

0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-

In [5]:
for n in number:
    print (n, end=' ABC ')

0 ABC 1 ABC 2 ABC 3 ABC 4 ABC 5 ABC 6 ABC 7 ABC 8 ABC 9 ABC 10 ABC 11 ABC 12 ABC 13 ABC 14 ABC

In [6]:
number_1 = [0,1,1,2,3,4,5,5,5,6,7,8,8,9,9,10,11,12,13]  # list of mix number (unique & duplicate)

In [7]:
for n in number_1:
    print(n)

0
1
1
2
3
4
5
5
5
6
7
8
8
9
9
10
11
12
13

In [22]:
number_2 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]  # print anly odd number

In [23]:
for n in number_2:
    if n%2!=0:
        print(n)

1
3
5
7
9
11
13

In [24]:
for n in number_2:    # Get even number from list number_2
    if n%2==0:
        print(n)

0
2
4
6
8
10
12

<h3> Print the number 121 -130 by for loop

In [8]:
for i in range (121,131):
    print(i)

121
122
123
124
125
126
127
128
129
130

### Print 1 to 10 Sequentially

In [9]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range (1,11,2):   # Get only Odd Numbers
    print(i)

1
3
5
7
9

In [11]:
for i in range(1,11,3): # step size 3
    print(i)

1
4
7
10

### Print 1-10 sequency in reverse pattern

In [12]:
for i in range(10,0,-1):    # start:end:step size
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
for i in range (10,2,-2):
    print(i)

10
8
6
4

In [14]:
for i in range (10,3,-2):
    print(i)

10
8
6
4

In [15]:
for i in range (10,3,-3):
    print(i)

10
7
4

### Printing all items in a list

In [16]:
color = ['Red','Green','Yellow','Blue','Orange','Sky Blue']   # in list it follows indexting pattern, index start from ZERO

In [17]:
for i in color:
    print(i)

Red
Green
Yellow
Blue
Orange
Sky Blue

In [18]:
print(color)

['Red', 'Green', 'Yellow', 'Blue', 'Orange', 'Sky Blue']

### Calculate Sum of Even number for 1 to 10

In [19]:
s = 0
for i in range(1,11):
    if i%2 ==0:
        s = s+i
        
print(s)

30

### Calculate sum of number 1 to 10

In [20]:
total = 0
for i in range(1,11):
    total = total+i
    
print(total)

55

## While Loop

### Print the number 1 to 20 (even number)

In [25]:
x = 0
while x <=20:
    print(x)
    x = x+2

0
2
4
6
8
10
12
14
16
18
20

### Print the number 1 to 50 (even number)

In [26]:
x = 0
while x <=50:
    print(x)
    x = x+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### Print the number 1 to 20 (print odd number)

In [28]:
x = 1
while x <=20:
    print(x)
    x = x+2

1
3
5
7
9
11
13
15
17
19

In [29]:
x = 1
while x <=20:
    print(x, end=',')
    x = x+2

1,3,5,7,9,11,13,15,17,19,