# Range

- range
- range in list
- range manupulation / step size
- for loop application in range
- for loop iteration in range (Odd & Even Number)
- count the odd & even number from a range

In [1]:
range(10)  # print upto 10

range(0, 10)

In [2]:
range(5,10)

range(5, 10)

### print a range lika a list up 3 to 10

In [3]:
lr = list(range(3,11))
lr

[3, 4, 5, 6, 7, 8, 9, 10]

### print a list for a range up to 10

In [5]:
lr_1 = list(range(11))
lr_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Print a list for a range 50 to 65

In [6]:
lr_2 = list(range(50,66))
lr_2

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65]

### Range manupulate by step size/ jump value

In [7]:
lr_3 = list(range(2,20,2))
lr_3

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Print all EVEN number for the range 1 to 50

In [9]:
for n in range(2,51,2):
    print(n, end=',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

### Print all ODD number for the range 1 to 50

In [10]:
for n in range(1,51,2):
    print(n, end=',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

### For loop iteration in range 1 - 50  || Even Number

In [11]:
for n in range(50):
    if n%2 ==0:
        print(n, end=',')

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,

In [12]:
for n in range(1,50):  # avoid ZERO to print
    if n%2==0:
        print(n, end=',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,

### For loop iteration in range 1 - 50 || Odd Number

In [13]:
for n in range(50):
    if n%2 !=0:
        print(n, end=',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

### Count the Odd & Even Number from a range (1,50)

In [14]:
even = 0
odd = 0

for n in range(1,50):
    if n%2 ==0:
        even = even+1
    else:
        odd = odd+1
        
print(f'Even {even}')       
print(f'Odd {odd}')

Even 24
Odd 25

In [15]:
# alternaive Method 2
even = 0
odd = 0

for i in range(1,50):
    if i%2 ==0:
        even += 1            
    else:
        odd  += 1
        
print( f'EVEN {even}')
print( f'ODD {odd}')

EVEN 24
ODD 25

In [16]:
# alternaive Method 3

odd = 0
even = 0

for i in range(1,50):
    if i%2 != 0:
        odd += 1            
    else:
        even  += 1
        
print( f'ODD {odd}')
print( f'EVEN {even}')

ODD 25
EVEN 24